@import url('https://fonts.googleapis.com/css2?family=Space+Grotesk:wght@500;600&family=Inter:wght@400;500;600&display=swap');

@import 'tailwindcss';

@theme inline {
  --color-primary: #8a2b0e;
  --color-secondary: #e35336;
  --color-accent: #353535;

  --text-header-small: 48px;
  --text-header-large: 58px;
  --text-subheader: 60px;
  --text-subheader-small: 32px;

  --font-header: 'Space Grotesk', sans-serif;
  --font-body: 'Inter', system-ui, sans-serif;
}

@layer components {
  .section {
    @apply max-w-5xl mx-auto px-6 py-16 xl:px-0 md:py-24;
  }

  .centered-section {
    @apply flex flex-col items-center gap-3 text-center;
  }

  /* .sub-header {
    @apply text-subheader-small md:text-subheader max-w-[65ch];
  } */
}

@layer base {
  body {
    font-family: 'Inter', system-ui, sans-serif;
    line-height: 1.7;
    @apply text-sm md:text-base;
  }

  h1,
  h2,
  h3,
  h4 {
    font-family: 'Space Grotesk', sans-serif;
    font-weight: 600;
    line-height: 1.2;
    color: #8a2b0e;
  }
}
